.text-medium-pink {
  color: #ff214f;
  font-size: 23px;
}

.line-height-none {
  line-height: none;
}

.title-medium {
  font-size: 90px;
  line-height: 95px;
}

.text-small-gray {
  font-size: 15px;
  color: #6c757d;
}

.text-bold-underline-spaced:before {
  background-color: #ff214f;
  height: 3px;
  width: 100%;
  position: absolute;
  right: 0;
  bottom: -10px;
  content: "";
}

.portfolio-img .image-height-445 {
  height: 460.08px;
}

.portfolio-background-image-salesforce {
  background-image: url(../images/projects/salesforce/IsometricSalesforce3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1650px) {
  .intro-project-text {
    background-color: rgba(220, 220, 220, 0.7);
  }
}

@media (max-width: 992px) {
  .lg-padding-unset {
    padding: unset;
  }
}

@media (max-width: 767px) {
  .intro-project-text {
    background-color: unset;
  }
  .md-padding-unset {
    padding: unset;
  }
  .text-bold-underline-spaced:before {
    display: none;
  }
  .logo-dark {
    margin-left: 16px;
  }
  .portfolio-background-image-salesforce {
    background-image: none;
  }
}

